@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    font-family: 'Roboto';
}

*:focus {
    outline: none !important
}

:root {
    --background: #161B21;
    --foreground: #F4A950;
}

html, body {
    overflow: hidden;
    background-color: var(--background);
    margin: 0;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    color: var(--foreground);
}

#topBar {
    display: flex;
    align-items: center;
    margin: calc(var(--vh, 1vh)) 2vw;
}

#searchBar {
    flex-grow: 1;
    height: calc(var(--vh, 1vh) * 5);
    font-size: calc(var(--vh, 1vh) * 3);
    border: 0.4vh solid var(--foreground);
    border: calc(var(--vh, 1vh) * 0.4) solid var(--foreground);
    color: var(--foreground);
    border-radius: 360px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0 4vw;
    min-width: 0;
    margin: 0 2vw;
}

.topBarButton {
    height: calc(var(--vh, 1vh) * 5);
    width: calc(var(--vh, 1vh) * 5);
    cursor: pointer;
}

#searchResults {
    position: absolute;
    top: calc(var(--vh, 1vh) * 7.8);
    width: 100vw;
    max-height: calc(var(--vh, 1vh) * 92.2);
    overflow-x: hidden;
    overflow-y: auto;
}

.result {
    padding: calc(var(--vh, 1vh) * 3) 2vw;
    width: 100vw;
    font-size: calc(var(--vh, 1vh) * 3);
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.result>p {
    flex-grow: 1;
    margin: 0 2vw;
}

.result>svg {
    height: calc(var(--vh, 1vh) * 5);
    width: calc(var(--vh, 1vh) * 5);
}

.message {
    width: 100%;
    height: calc(var(--vh, 1vh) * 93.2);
    display: flex;
    background-color: var(--background);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.message>div {
    color: var(--foreground);
    text-align: center;
}

.message>div>h2 {
    font-size: 6vmax;
    margin: 1vmax;
}

.message>div>p {
    font-size: 3vmax;
    margin: 1vmax;
    padding: 0 5vw;
}

.message>svg {
    height: 40vmin;
    width: 40vmin;
    margin: 0 auto;
}

#weather {
    margin: calc(var(--vh, 1vh) * 2) 0;
    height: calc(var(--vh, 1vh) * 89.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#sunTime {
    margin: 0;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--foreground);
    font-size: calc(var(--vh, 1vh) * 3);
}

#sunTime>p {
    margin: 0;
}

#sunTime>svg {
    height: calc(var(--vh, 1vh) * 3);
    width: calc(var(--vh, 1vh) * 3);
}

#line {
    border-left: 0.4vh solid var(--foreground);
    border-left: calc(var(--vh, 1vh) * 0.4) solid var(--foreground);
    height: calc(var(--vh, 1vh) * 2.5);
}

#cityName {
    color: var(--foreground);
    margin: 0;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    font-size: calc(var(--vh, 1vh) * 6);
}

#mainWeather {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: var(--foreground);
    font-size: calc(var(--vh, 1vh) * 10);
}

#currentTemp {
    margin: 0;
}

#mainImage {
    margin: 0;
    margin-right: 5vw;
    height: calc(var(--vh, 1vh) * 12);
    width: calc(var(--vh, 1vh) * 12);
}

#weatherData {
    width: 100%;
    height: calc(var(--vh, 1vh) * 32);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
}

#weatherData>div {
    border: calc(var(--vh, 1vh) * 0.4) solid var(--foreground);
    border-radius: 4vmin;
    width: 30%;
    height: calc(var(--vh, 1vh) * 14);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: var(--foreground);
    font-size: 4vw;
}

#weatherData svg {
    margin: 0;
    height: calc(var(--vh, 1vh) * 5);
    width: calc(var(--vh, 1vh) * 5);
}

#weatherData p {
    margin: 0;
    font-size: 4vw;
}

#nextDays {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--foreground);
}

#nextDays>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date {
    margin: 0;
    font-size: calc(var(--vh, 1vh) * 3);
    text-align: center;
}

.weatherIcon {
    margin: 0;
    height: calc(var(--vh, 1vh) * 7);
    width: calc(var(--vh, 1vh) * 7);
}

.temp {
    font-size: calc(var(--vh, 1vh) * 3);
    margin: 0;
    text-align: center;
}

#loadingScreen {
    position: absolute;
    top: calc(var(--vh, 1vh) * 6.8);
    background-color: var(--background);
    width: 100vw;
    height: calc(var(--vh, 1vh) * 93.2);
}

#loading {
    height: 60vmin;
    width: 60vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: rotate-center 0.6s ease-in-out infinite both;
    animation: rotate-center 0.6s ease-in-out infinite both;
}

#themeSelection {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background);
    grid-template-columns: repeat(2, 1fr);
    height: calc(var(--vh, 1vh) * 60);
    width: 60vw;
    display: grid;
    row-gap: calc(var(--vh, 1vh) * 2);
    column-gap: 2vw;
    padding: calc(var(--vh, 1vh) * 20) 20vw;
    cursor: pointer;
}

#themeSelection>div {
    justify-self: center;
    background-color: var(--foreground);
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground);
    border-radius: 5vmin;
}

#themeSelection>div div {
    height: 85%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-radius: 4vmin;
    color: var(--foreground);
}

::placeholder {
    color: var(--foreground);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--foreground);
}

*::-webkit-scrollbar {
    width: 2vmin;
}

*::-webkit-scrollbar-track {
    background: var(--background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
}

.slide-in-anim {
    -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-top {
    -webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes rotate-center {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@media screen and (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
    .message {
        max-height: calc(var(--vh, 1vh) * 87.2);
        width: 90vw;
        margin: 0 5vw;
        align-items: center;
        align-content: center;
        flex-direction: row;
    }
    .message>div {
        flex-grow: 1;
    }
    #weather {
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    #sunTime {
        margin-top: calc(var(--vh, 1vh) * 3);
        width: 40%;
        min-width: 0;
        font-size: calc(var(--vh, 1vh) * 5);
    }
    #sunTime>svg {
        height: calc(var(--vh, 1vh) * 5);
        width: calc(var(--vh, 1vh) * 5);
    }
    #line {
        height: calc(var(--vh, 1vh) * 4);
    }
    #cityName {
        margin-top: calc(var(--vh, 1vh) * 5);
        max-width: 35%;
        font-size: calc(var(--vh, 1vh) * 7);
        white-space: normal;
        text-align: center;
    }
    #mainWeather {
        width: 40%;
        display: flex;
        flex-direction: column;
        color: var(--foreground);
    }
    #mainImage {
        margin: 0;
        height: calc(var(--vh, 1vh) * 30);
        width: calc(var(--vh, 1vh) * 30);
    }
    #weatherData {
        width: 50%;
        height: calc(var(--vh, 1vh) * 53);
    }
    #weatherData>div {
        height: calc(var(--vh, 1vh) * 25);
        font-size: 2vw;
    }
    #weatherData svg {
        height: calc(var(--vh, 1vh) * 6);
        width: calc(var(--vh, 1vh) * 6);
    }
    #weatherData p {
        font-size: 2.5vw;
    }
    #nextDays {
        margin-top: calc(var(--vh, 1vh) * 4);
        width: 60%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        color: var(--foreground);
    }
    .date {
        font-size: calc(var(--vh, 1vh) * 5);
    }
    .weatherIcon {
        height: calc(var(--vh, 1vh) * 12);
        width: calc(var(--vh, 1vh) * 12);
    }
    .temp {
        font-size: calc(var(--vh, 1vh) * 5);
    }
    .result {
        font-size: calc(var(--vh, 1vh) * 6);
    }
    .result>img {
        height: calc(var(--vh, 1vh) * 10);
        width: calc(var(--vh, 1vh) * 10);
    }
    #topBar {
        margin: calc(var(--vh, 1vh) * 4) 2vw 0 2vw;
    }
    #searchBar {
        height: calc(var(--vh, 1vh) * 8);
        font-size: calc(var(--vh, 1vh) * 5);
        padding: 0 4vw;
    }
    .topBarButton {
        height: calc(var(--vh, 1vh) * 8);
        width: calc(var(--vh, 1vh) * 8);
    }
    #searchResults {
        top: 16.8vh;
        top: calc(var(--vh, 1vh) * 16.8);
        max-height: calc(var(--vh, 1vh) * 83.2);
    }
    #loadingScreen {
        top: 12.8vh;
        top: calc(var(--vh, 1vh) * 12.8);
        max-height: calc(var(--vh, 1vh) * 87.2);
    }
    #themeSelection {
        grid-template-columns: repeat(4, 1fr);
    }
}