@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    font-family: 'Roboto';
}

*:focus {
    outline: none !important
}

:root {
    --background: white;
    --main: #4AC4ED;
}

html, body {
    overflow: hidden;
    background-color: var(--background);
    margin: 0px;
}

#topBar {
    display: flex;
    align-items: center;
    margin: 1vh 2vw;
    margin: calc(var(--vh, 1vh)) 2vw;
}

#searchBar {
    flex-grow: 1;
    height: 5vh;
    height: calc(var(--vh, 1vh) * 5);
    font-size: 3vh;
    font-size: calc(var(--vh, 1vh) * 3);
    border: 0.4vh solid var(--main);
    border: calc(var(--vh, 1vh) * 0.4) solid var(--main);
    color: var(--main);
    border-radius: 360px;
    background-image: url("Icons/Search.svg");
    background-position: 1vh 0.75vh;
    background-position: calc(var(--vh, 1vh) * 1) calc(var(--vh, 1vh) * 0.75);
    background-size: 3.75vh;
    background-size: calc(var(--vh, 1vh) * 3.75);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 2vw 0px 5.75vh;
    padding: 0px 2vw 0px calc(var(--vh, 1vh) * 5.75);
    min-width: 0px;
    margin: 0px 2vw;
}

.topBarButton {
    height: 5vh;
    height: calc(var(--vh, 1vh) * 5);
    cursor: pointer;
}

#searchResults {
    position: absolute;
    top: 6.8vh;
    top: calc(var(--vh, 1vh) * 6.8);
    width: 100vw;
    max-height: 93.2vh;
    max-height: calc(var(--vh, 1vh) * 93.2);
    overflow-x: hidden;
    overflow-y: auto;
}

.result {
    padding: 3vh 2vw;
    padding: calc(var(--vh, 1vh) * 3) 2vw;
    width: 100vw;
    font-size: 3vh;
    font-size: calc(var(--vh, 1vh) * 3);
    background-color: var(--background);
    color: var(--main);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.result>p {
    flex-grow: 1;
    margin: 0px 2vw;
}

.result>img {
    height: 5vh;
    height: calc(var(--vh, 1vh) * 5);
}

.slide-in-anim {
    -webkit-animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.message {
    width: 100%;
    height: 93.2vh;
    height: calc(var(--vh, 1vh) * 93.2);
    display: flex;
    background-color: var(--background);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.message>div {
    color: var(--main);
    text-align: center;
}

.message>div>h2 {
    font-size: 6vmax;
    margin: 1vmax;
}

.message>div>p {
    font-size: 3vmax;
    margin: 1vmax;
    padding: 0px 5vw;
}

.message>img {
    margin: 0px auto;
    width: 40vmin;
}

#weather {
    margin: calc(var(--vh, 1vh) * 2) 0px;
    height: 89.2vh;
    height: calc(var(--vh, 1vh) * 89.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#sunTime {
    margin: 0px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--main);
    font-size: 4vh;
    font-size: calc(var(--vh, 1vh) * 4);
}

#sunTime>img {
    height: 4vh;
    height: calc(var(--vh, 1vh) * 4);
}

#sunTime>p {
    margin: 0px;
}

#line {
    border-left: 0.4vh solid var(--main);
    border-left: calc(var(--vh, 1vh) * 0.4) solid var(--main);
    height: 3vh;
    height: calc(var(--vh, 1vh) * 3);
}

#cityName {
    color: var(--main);
    margin: 0px;
    font-weight: normal;
    word-break: keep-all;
    overflow:hidden;
    font-size: 6vh;
    font-size: calc(var(--vh, 1vh) * 6);
}

#mainWeather {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: var(--main);
    font-size: 10vh;
    font-size: calc(var(--vh, 1vh) * 10);
}

#currentTemp {
    margin: 0px;
}

#mainImage {
    margin: 0px;
    margin-right: 5vw;
    width: 12vh;
    width: calc(var(--vh, 1vh) * 12);
}

#weatherData {
    width: 100%;
    height: 32vh;
    height: calc(var(--vh, 1vh) * 32);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
}

#weatherData>div {
    border: 0.4vh solid var(--main);
    border: calc(var(--vh, 1vh) * 0.4) solid var(--main);
    border-radius: 4vmin;
    width: 30%;
    height: 14vh;
    height: calc(var(--vh, 1vh) * 14);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: var(--main);
    font-size: 4vw;
}

#weatherData img {
    margin: 0px;
    height: 3vh;
    height: calc(var(--vh, 1vh) * 3);
}

#weatherData p {
    margin: 0px;
    font-size: 4vw;
}

#nextDays {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--main);
}

#nextDays>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date {
    margin: 0px;
    font-size: 3vh;
    font-size: calc(var(--vh, 1vh) * 3);
    text-align: center;
}

.weatherIcon {
    margin: 0px;
    height: 7vh;
    height: calc(var(--vh, 1vh) * 7);
}

.temp {
    font-size: 3vh;
    font-size: calc(var(--vh, 1vh) * 3);
    margin: 0px;
    text-align: center;
}

#loadingScreen {
    position: absolute;
    top: 6.8vh;
    top: calc(var(--vh, 1vh) * 6.8);
    background-color: var(--background);
    width: 100vw;
    height: 93.2vh;
    height: calc(var(--vh, 1vh) * 93.2);
}

#loading {
    width: 60vmin;
    height: 60vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: rotate-center 0.6s ease-in-out infinite both;
    animation: rotate-center 0.6s ease-in-out infinite both;
}

::placeholder {
    color: var(--main);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--main);
}

*::-webkit-scrollbar {
    width: 2vmin;
}

*::-webkit-scrollbar-track {
    background: var(--background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main);
}

@keyframes rotate-center {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@media (orientation: landscape) {
    .message {
        max-height: 87.2vh;
        max-height: calc(var(--vh, 1vh) * 87.2);
        width: 90vw;
        margin: 0px 5vw;
        align-items: center;
        align-content: center;
        flex-direction: row;
    }
    .message>img {
        margin: 0px 1vw;
        width: 40vmin;
    }
    .message>div {
        flex-grow: 1;
    }
    #weather {
        margin: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }
    #sunTime {
        margin-top: 3vh;
        margin-top: calc(var(--vh, 1vh) * 3);
        width: 40%;
        min-width: 0;
        font-size: 5h;
        font-size: calc(var(--vh, 1vh) * 5);
    }
    #sunTime>img {
        height: 5vh;
        height: calc(var(--vh, 1vh) * 5);
    }
    #line {
        height: 4vh;
        height: calc(var(--vh, 1vh) * 4);
    }
    #cityName {
        margin-top: 5vh;
        margin-top: calc(var(--vh, 1vh) * 5);
        max-width: 35%;
        word-break: normal;
        text-align: center;
    }
    #mainWeather {
        width: 40%;
        display: flex;
        flex-direction: column;
        color: var(--main);
    }
    #mainImage {
        margin: 0px;
        width: calc(var(--vh, 1vh) * 30);
    }
    #weatherData {
        width: 50%;
        height: 53vh;
        height: calc(var(--vh, 1vh) * 53);
    }
    #weatherData>div {
        height: 30vh;
        height: calc(var(--vh, 1vh) * 25);
        font-size: 2vw;
    }
    #weatherData img {
        height: 4vw;
    }
    #weatherData p {
        font-size: 2.5vw;
    }
    #nextDays {
        margin-top: 4vh;
        margin-top: calc(var(--vh, 1vh) * 4);
        width: 60%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        color: var(--main);
    }
    .date {
        font-size: 5vh;
        font-size: calc(var(--vh, 1vh) * 5);
    }
    .weatherIcon {
        height: 12vh;
        height: calc(var(--vh, 1vh) * 12);
    }
    .temp {
        font-size: 5vh;
        font-size: calc(var(--vh, 1vh) * 5);
    }
    .result {
        font-size: 6vh;
        font-size: calc(var(--vh, 1vh) * 6);
    }
    .result>img {
        height: 10vh;
        height: calc(var(--vh, 1vh) * 10);
    }
    #topBar {
        margin: 4vh 2vw 0px 2vw;
        margin: calc(var(--vh, 1vh) * 4) 2vw 0px 2vw;
    }
    #searchBar {
        height: 8vh;
        height: calc(var(--vh, 1vh) * 8);
        font-size: 5vh;
        font-size: calc(var(--vh, 1vh) * 5);
        background-position: 2vh 1vh;
        background-position: calc(var(--vh, 1vh) * 2) calc(var(--vh, 1vh) * 1);
        background-size: 6vh;
        background-size: calc(var(--vh, 1vh) * 6);
        padding: 0px 2vw 0px 9vh;
        padding: 0px 2vw 0px calc(var(--vh, 1vh) * 9);
    }
    .topBarButton {
        height: 8vh;
        height: calc(var(--vh, 1vh) * 8);
    }
    #searchResults {
        top: 16.8vh;
        top: calc(var(--vh, 1vh) * 16.8);
        max-height: 83.2vh;
        max-height: calc(var(--vh, 1vh) * 83.2);
    }
    #loadingScreen {
        top: 12.8vh;
        top: calc(var(--vh, 1vh) * 12.8);
        max-height: 87.2vh;
        max-height: calc(var(--vh, 1vh) * 87.2);
    }
}